@charset "UTF-8";
@font-face {
  font-family: "Grand Hotel";
  src: url('../fonts/normal');
  src: url('../fonts/normal?#iefix') format('eot'), url('../fonts/GrandHotel-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: "Open Sans Light";
  src: url('../fonts/normal');
  src: url('../fonts/normal?#iefix') format('eot'), url('../fonts/opensans/OpenSans-Light.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: "Open Sans Light Italic";
  src: url('../fonts/normal');
  src: url('../fonts/normal?#iefix') format('eot'), url('../fonts/opensans/OpenSans-LightItalic.ttf') format('truetype');
  font-weight: italic;
}

@font-face {
  font-family: "Open Sans";
  src: url('../fonts/normal');
  src: url('../fonts/normal?#iefix') format('eot'), url('../fonts/opensans/OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: "Open Sans Italic";
  src: url('../fonts/normal');
  src: url('../fonts/normal?#iefix') format('eot'), url('../fonts/opensans/OpenSans-Italic.ttf') format('truetype');
  font-weight: italic;
}

@font-face {
  font-family: "Open Sans Extra Bold";
  src: url('../fonts/bold');
  src: url('../fonts/bold?#iefix') format('eot'), url('../fonts/opensans/OpenSans-ExtraBold.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: "Open Sans Extra Bold Italic";
  src: url('../fonts/bold');
  src: url('../fonts/bold?#iefix') format('eot'), url('../fonts/opensans/OpenSans-ExtraBoldItalic.ttf') format('truetype');
  font-weight: italic;
}

@font-face {
  font-family: "Klinic Slab";
  src: url('../fonts/normal');
  src: url('../fonts/normal?#iefix') format('eot'), url('../fonts/klinic/KlinicSlabBook.otf') format('opentype');
  font-weight: normal;
}

@font-face {
  font-family: "Klinic Slab Italic";
  src: url('../fonts/normal');
  src: url('../fonts/normal?#iefix') format('eot'), url('../fonts/klinic/KlinicSlabBookIt.otf') format('opentype');
  font-weight: italic;
}

@font-face {
  font-family: "Klinic Slab Bold";
  src: url('../fonts/bold');
  src: url('../fonts/bold?#iefix') format('eot'), url('../fonts/klinic/KlinicSlabBold.otf') format('opentype');
  font-weight: normal;
}

@font-face {
  font-family: "Klinic Slab Bold Italic";
  src: url('../fonts/bold');
  src: url('../fonts/bold?#iefix') format('eot'), url('../fonts/klinic/KlinicSlabBoldIt.otf') format('opentype');
  font-weight: italic;
}

@font-face {
  font-family: "Klinic Slab Light";
  src: url('../fonts/normal');
  src: url('../fonts/normal?#iefix') format('eot'), url('../fonts/klinic/KlinicSlabLight.otf') format('opentype');
  font-weight: normal;
}

@font-face {
  font-family: "Klinic Slab Light Italic";
  src: url('../fonts/normal');
  src: url('../fonts/normal?#iefix') format('eot'), url('../fonts/klinic/KlinicSlabLightIt.otf') format('opentype');
  font-weight: italic;
}

pre, code, kbd, tt {
  font-family: Consolas, Menlo, "Courier New", monospace, monospace;
}

.node .comment-add a {
  background-color: #e92401;
  display: inline-block;
  margin: 1em 0;
  padding: 0.7em;
}
.node .comment-add a:hover {
  background-color: #ead375;
}

.offscreenText {
  height: 0;
  margin: 0;
  padding: 0;
  width: 0;
}

ul.menu {
  margin: 0;
  padding: 0;
}
ul.menu li {
  margin: 0;
  padding: 0;
}

ul li.leaf,
ul li.expanded,
ul.menu li.collapsed {
  list-style-image: none;
  list-style-type: none;
}

.breadcrumb {
  padding: 0;
}

.views-exposed-widgets {
  margin: 0;
}

.views-exposed-form .views-exposed-widget {
  padding: 0;
}
.views-exposed-form .views-exposed-widget .form-submit {
  margin: 0;
}

.field-name-field-tags {
  margin-bottom: 1rem;
}
.field-name-field-tags a {
  padding-left: 0.5em;
}

.label-inline {
  display: inline-block;
}

.field-type-taxonomy-term-reference .field-item {
  display: inline;
}

a,
a:visited,
a:active {
  color: #0084c5;
  text-decoration: none;
}

a:hover {
  color: #e92401;
}

em, i {
  font-family: "Open Sans Italic", "Avant Garde", Futura, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
}

b, strong {
  font-family: "Open Sans Extra Bold", "Avant Garde", Futura, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
}

pre {
  line-height: 1;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

p {
  margin: 0;
}
p a:hover {
  text-decoration: underline;
}

del {
  text-decoration: line-through;
}

dl {
  margin-left: 0;
}

ol {
  list-style: decimal;
}

ul,
.item-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.view-content ul li:before,
.view-content .item-list ul li:before {
  color: #e92401;
  content: "•";
  font-size: 1.5em;
  position: relative;
  top: 0.1em;
  right: 0.15em;
}

label, .label-inline {
  display: inline-block;
}

sup, sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

hr {
  border: 1px solid #999999;
}

blockquote {
  border-left: 3px solid #ead375;
  font-family: "Open Sans Extra Bold Italic";
  padding-left: 1em;
}

.node-article.view-mode-full .content {
  background-color: white;
  padding: 1rem;
}
.node-article.view-mode-full .content p {
  margin-bottom: 1rem;
}

table {
  border: 0 !important;
}

th,
td {
  border: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

::-moz-selection {
  color: white;
  background: #0084c5;
  text-shadow: none;
}

::selection {
  color: white;
  background: #0084c5;
  text-shadow: none;
}

body {
  background: #fafafa;
  color: #2d2d2d;
  font-family: "Open Sans", "Avant Garde", Futura, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 23.4px;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

#header {
  margin: 0 auto;
  max-width: 48rem;
}

#main,
#footer,
#legal {
  margin: 0 auto;
  max-width: 48rem;
  padding: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Klinic Slab", Garamond, Georgia, Times, "Times New Roman", serif;
  font-weight: normal;
  margin: 0;
  text-rendering: optimizeLegibility;
}

h1, h2, h3 {
  line-height: 1.2;
}

h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 2.8em;
  margin: 0.8rem 0;
}

h2 {
  font-size: 2.3em;
  margin: 0.5rem 0;
}

h3 {
  font-size: 2em;
  margin: 0.3rem 0;
}

h4 {
  font-size: 1.7em;
  margin: 0.2rem 0;
}

h5 {
  font-size: 1.5em;
  margin: 0.1rem 0;
}

h6 {
  font-size: 1.2em;
}

#main-menu {
  display: block;
  padding-bottom: 0.5rem;
  text-align: center;
}
#main-menu li {
  display: inline-block;
  padding: 0;
}
#main-menu a {
  border: 1px solid transparent;
  color: black;
  display: inline-block;
  font-family: "Klinic Slab Bold";
  font-size: 1.2em;
  line-height: 1.5;
  padding: 0 2em;
  text-transform: uppercase;
}
@media (min-width: 1025px) {
  #main-menu a:hover {
    background-color: rgba(234, 211, 117, 0.5);
    border: 1px solid white;
    text-decoration: underline;
  }
}

#header-wrapper {
  border-top: 12px solid #0084c5;
  border-bottom: 1px solid rgba(45, 45, 45, 0.3);
  min-height: 7em;
}

#main-wrapper {
  border-top: 1px solid rgba(45, 45, 45, 0.2);
}

#logo {
  display: block;
  text-align: center;
}
#logo img {
  max-width: 24rem;
  width: 100%;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
#logo img:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  opacity: 0.99;
}

.node .comment-add a {
  color: white;
}

.comment-wrapper {
  margin-top: 1em;
}

.comment {
  margin: 1rem 0;
}
