@charset "UTF-8";
@font-face {
  font-family: "Grand Hotel";
  src: url('../fonts/normal');
  src: url('../fonts/normal?#iefix') format('eot'), url('../fonts/GrandHotel-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: "Open Sans Light";
  src: url('../fonts/normal');
  src: url('../fonts/normal?#iefix') format('eot'), url('../fonts/opensans/OpenSans-Light.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: "Open Sans Light Italic";
  src: url('../fonts/normal');
  src: url('../fonts/normal?#iefix') format('eot'), url('../fonts/opensans/OpenSans-LightItalic.ttf') format('truetype');
  font-weight: italic;
}

@font-face {
  font-family: "Open Sans";
  src: url('../fonts/normal');
  src: url('../fonts/normal?#iefix') format('eot'), url('../fonts/opensans/OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: "Open Sans Italic";
  src: url('../fonts/normal');
  src: url('../fonts/normal?#iefix') format('eot'), url('../fonts/opensans/OpenSans-Italic.ttf') format('truetype');
  font-weight: italic;
}

@font-face {
  font-family: "Open Sans Extra Bold";
  src: url('../fonts/bold');
  src: url('../fonts/bold?#iefix') format('eot'), url('../fonts/opensans/OpenSans-ExtraBold.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: "Open Sans Extra Bold Italic";
  src: url('../fonts/bold');
  src: url('../fonts/bold?#iefix') format('eot'), url('../fonts/opensans/OpenSans-ExtraBoldItalic.ttf') format('truetype');
  font-weight: italic;
}

pre, code, kbd, tt {
  font-family: Consolas, Menlo, "Courier New", monospace, monospace;
}

.offscreenText {
  height: 0;
  margin: 0;
  padding: 0;
  width: 0;
}

ul.menu {
  margin: 0;
  padding: 0;
}
ul.menu li {
  margin: 0;
  padding: 0;
}

ul li.leaf,
ul li.expanded,
ul.menu li.collapsed {
  list-style-image: none;
  list-style-type: none;
}

.breadcrumb {
  padding: 0;
}

.views-exposed-widgets {
  margin: 0;
}

.views-exposed-form .views-exposed-widget {
  padding: 0;
}
.views-exposed-form .views-exposed-widget .form-submit {
  margin: 0;
}

.label-inline {
  display: inline-block;
}

.field-type-taxonomy-term-reference .field-item {
  display: inline;
}

a,
a:visited,
a:active {
  color: #0084c5;
  text-decoration: none;
}

a:hover {
  color: #e92401;
}

em, i {
  font-family: "Open Sans Italic", "Avant Garde", Futura, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
}

b, strong {
  font-family: "Open Sans Extra Bold", "Avant Garde", Futura, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
}

pre {
  line-height: 1;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

del {
  text-decoration: line-through;
}

dl {
  margin-left: 0;
}

ol {
  list-style: decimal;
}

ul,
.item-list ul {
  list-style: none;
}
li ul, li
.item-list ul {
  list-style-type: circle;
}

sup, sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

table {
  border: 0 !important;
}

th,
td {
  border: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

::-moz-selection {
  color: white;
  background: #0084c5;
  text-shadow: none;
}

::selection {
  color: white;
  background: #0084c5;
  text-shadow: none;
}

body {
  background: white;
  color: black;
  font-family: "Open Sans", "Avant Garde", Futura, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 23.4px;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

#page {
  margin: 0 auto;
  max-width: 1024px;
  padding: 0 1rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", "Avant Garde", Futura, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  margin: 0;
  text-rendering: optimizeLegibility;
}

h1, h2, h3 {
  line-height: 1.2;
}

h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.7em;
}

h5 {
  font-size: 1.5em;
}

h6 {
  font-size: 1.2em;
}
