// _fonts.sass

// Import font files via font-face
// +font-face($name, $font-files, $eot, $weight, $style)
// $font-files is required using font-files('relative/location', 'format'). For best results use this order: woff, opentype/truetype, svg

// Grand Hotel
+font-face("Grand Hotel", font-files("GrandHotel-Regular.ttf"), normal, normal)

// Open sans
+font-face("Open Sans Light", font-files("opensans/OpenSans-Light.ttf"), normal, normal)
+font-face("Open Sans Light Italic", font-files("opensans/OpenSans-LightItalic.ttf"), normal, italic)
+font-face("Open Sans", font-files("opensans/OpenSans-Regular.ttf"), normal, normal)
+font-face("Open Sans Italic", font-files("opensans/OpenSans-Italic.ttf"), normal, italic)
+font-face("Open Sans Extra Bold", font-files("opensans/OpenSans-ExtraBold.ttf"), bold, normal)
+font-face("Open Sans Extra Bold Italic", font-files("opensans/OpenSans-ExtraBoldItalic.ttf"), bold, italic)

// Klinic
+font-face("Klinic Slab", font-files("klinic/KlinicSlabBook.otf"), normal, normal)
+font-face("Klinic Slab Italic", font-files("klinic/KlinicSlabBookIt.otf"), normal, italic)
+font-face("Klinic Slab Bold", font-files("klinic/KlinicSlabBold.otf"), bold, normal)
+font-face("Klinic Slab Bold Italic", font-files("klinic/KlinicSlabBoldIt.otf"), bold, italic)
+font-face("Klinic Slab Light", font-files("klinic/KlinicSlabLight.otf"), normal, normal)
+font-face("Klinic Slab Light", font-files("klinic/KlinicSlabLightIt.otf"), normal, italic)

// Font stacks
$font-sans: "Open Sans", "Avant Garde", Futura, "Helvetica Neue", Helvetica, Arial, sans-serif
$font-serif: "Klinic Slab", Garamond, Georgia, Times, "Times New Roman", serif
$font-mono: Consolas, Menlo, "Courier New", monospace, monospace
$font-cursive: "Grand Hotel", cursive

$font-bold: "Open Sans Extra Bold", "Avant Garde", Futura, "Helvetica Neue", Helvetica, Arial, sans-serif
$font-italic: "Open Sans Italic", "Avant Garde", Futura, "Helvetica Neue", Helvetica, Arial, sans-serif
$font-bolditalic: "Open Sans Extra Bold Italic"

$font-header: $font-serif
$font-body: $font-sans

// Font size
$base-font-size: 18px
$base-line-height: $base-font-size * 1.3
