// _branding.sass

#header-wrapper
  background-color: rgba($gold, 0.2)
  min-height: 7em

#main-wrapper
  background-color: rgba($gold, 0.1)

#logo
  max-width: 24rem
  position: absolute
  img
    width: 100%

