// _main-menu.sass

#main-menu
  display: block
  padding-bottom: 0.5rem
  text-align: center
  li
    display: inline-block
    padding: 0
  a
    border: 1px solid transparent
    color: $black
    display: inline-block
    font-family: "Klinic Slab Bold"
    font-size: 1.2em
    line-height: 1.5
    padding: 0 2em
    text-transform: uppercase
    +breakpoint($screen-min)
      &:hover
        background-color: rgba($gold, 0.5)
        border: 1px solid $white
        text-decoration: underline
