// _elements.sass

a,
a:visited,
a:active
  color: $blue
  text-decoration: none

a:hover
  color: $red

em, i
  font-family: $font-italic
  font-style: normal

b, strong
  font-family: $font-bold
  font-weight: normal

pre
  @extend %mono
  line-height: 1
  white-space: pre
  white-space: pre-wrap
  word-wrap: break-word

p
  a:hover
    text-decoration: underline

del
  text-decoration: line-through

ins

dl
  margin-left: 0

ol
  list-style: decimal

ul,
.item-list ul
  list-style: none
  margin: 0

.view-content
  ul,
  .item-list ul
    li:before
      color: $red
      content: "•"
      font-size: 1.5em
      position: relative
      top: 0.1em
      right: 0.15em

label, .label-inline
  display: inline-block


small

sup, sub
  font-size: 75%
  line-height: 0
  position: relative
  vertical-align: baseline

sup
  top: -0.5em

sub
  bottom: -0.25em

cite

q

dfn

abbr, acronym

code, kbd, tt
  @extend %mono

mark

hr
  border: 1px solid $grey-9

blockquote
  border-left: 3px solid $gold
  font-family: $font-bolditalic
  padding-left: 1em
