//  _page.sass

// Default to border box from Paul Irish
*
  +box-sizing("border-box")


// Text selection defaults
\::-moz-selection,
\::selection
  color: $white
  background: $black
  text-shadow: none

// Body defaults
body
  background: $background-page
  color: $text-color
  font-family: $font-body
  font-size: $base-font-size
  font-weight: normal
  line-height: $base-line-height
  -webkit-font-smoothing: antialiased
